<br/>
<br/>
<br/>
<br/>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  
<mat-card>
  <mat-card-header>
    <mat-card-title><p>Hello LandLord</p></mat-card-title>
    <mat-card-subtitle>Start</mat-card-subtitle>
  </mat-card-header>

  <mat-toolbar>
    <mat-toolbar-row>
      <a target="_blank" href="https://material.angular.io/">Angular Material</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a target="_blank" href="https://www.npmjs.com/package/@angular/flex-layout">Flex-Layout</a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a target="_blank" href="https://www.letsboot.com/">Letsboot.com</a>
    </mat-toolbar-row>
  </mat-toolbar>

  <app-a-new-subcription></app-a-new-subcription>
  
  
</mat-card>
  <div fxFlex="20%">
    a
  </div>
</div>

<br>

<br/>
<app-existing-subcription class=""></app-existing-subcription>
